@import url(global.css);

/* Estilização dos cards dos shows */
.agenda-section {
  background: linear-gradient(to bottom, #1a1a1a, #121212);
  color: var(--branco);
  padding: 50px 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.img-agenda {
  width: 80%;
  border: 2px solid var(--vermelho); /* Borda vermelha para combinar com o tema */
  border-radius: 20px; /* Mantendo o border-radius */
  transition: transform 0.5s ease; /* Efeito suave de transição */
  align-items: center;
}

.img-agenda:hover {
  transform: scale(1.05); /* Efeito de crescimento ao passar o mouse */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.8);
}

.card-show {
  background-color: var(--vermelho_escuro2);
  color: var(--branco);
  border: 1px solid var(--vermelho);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.data-show {
  background-color: var(--vermelho);
  padding: 15px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--branco);
}

.data-show {
  padding: 15px;
  color: var(--branco);
  text-align: center; /* Centraliza o texto da data */
  text-transform: uppercase;
}

.info-show {
  padding: 20px;
  text-align: center;
}

.nome-show {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-show {
  display: inline-block;
  background-color: var(--vermelho);
  color: var(--branco);
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}

.btn-show:hover {
  background-color: #e60000;
  transform: translateY(-2px);
}

.titulo-agenda {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--vermelho);
  margin-bottom: 10px;
}

.subtitulo-agenda {
  font-size: 1.2rem;
  color: var(--cinza-claro);
}

.mes-info {
  margin-top: 50px; /* Espaço depois dos cards de um mês */
}

/* Para telas menores que 768px (tablets para baixo) */
/* Responsividade */
@media (max-width: 767px) {
  .img-agenda {
    display: none;
  }

  .titulo-agenda {
    font-size: 2rem;
  }

  .subtitulo-agenda {
    font-size: 1rem;
  }
}
