@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --fonte: "Poppins", sans-serif;
  --gradiente: linear-gradient(to bottom, #232c33, #203a43, #2c5364);
  --branco: #f5f5f5;
  --vermelho: #dd403a;
  --preto: #232c33;
  --sombra: rgba(0, 0, 0, 0.15);
}

.loginAdmin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: var(--fonte);
  background: var(--gradiente);
}

.login-container {
  background: var(--branco);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 10px 20px var(--sombra);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.8rem;
  color: var(--preto);
  margin-bottom: 10px;
  font-weight: 700;
}

h2 {
  font-size: 1rem;
  color: var(--preto);
  margin-bottom: 20px;
  font-weight: 500;
}

h2 a {
  color: var(--vermelho);
  text-decoration: none;
  font-weight: 600;
}

h3 {
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: underline;
}

.login-form-section {
  padding: 10px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

#login-form label {
  font-size: 0.9rem;
}

#login-form input {
  width: 100%;
  padding: 12px 15px;
  font-size: 1rem;
  border: 2px solid var(--sombra);
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
  box-sizing: border-box; /* Garante que padding e border sejam contabilizados na largura total */
  margin: 0 auto; /* Centraliza os inputs */
}

#login-form input:focus {
  border-color: var(--vermelho);
  box-shadow: 0 0 10px rgba(230, 57, 70, 0.5);
}

#login-form button {
  width: 100%;
  padding: 12px;
  background: var(--vermelho);
  color: var(--branco);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

#login-form button:hover {
  background: #c92c3e;
  transform: translateY(-2px);
}

#login-error {
  color: var(--vermelho);
  font-size: 0.9rem;
  margin-top: 10px;
  display: none;
}

footer.copy {
  font-size: 0.9rem;
  color: var(--preto);
  margin-top: 20px;
}

footer.copy a {
  color: var(--vermelho);
  text-decoration: none;
}

footer.copy a:hover {
  text-decoration: underline;
}
